@import "../../../scss/index.scss";

.boton-seguir{
    display: flex;
    height: 50%;
    button{

        &.siguiendo1{
            background-color: $primary-green ;
            border-color : $primary-green ;
            content: "Siguiendo";
            display: flex;
        
            &:hover{
                background-color: $danger;
                border-color: $danger;
            

                &::before{
                    content: "Dejar de Seguir";
                }

                span{
                    display: none;
                }
            }
        }

        &.siguiendo{
            background-color: $primary-dark;
            border-color : $primary-dark;
            color: $primary-green-light;
        }

        &.nosiguiendo{

           background-color: $danger;
           border-color: $danger;
           &:hover{
            opacity: 0.8;
           }


            
        }

    }





}