@import "../../../scss/index.scss";

.boton-seguir{
    display: flex;

    &__siguiendo{
        background-color: $primary-green ;
    }

    &__noseguir{
        background-color: $primary-grey;
    }
}