@import "../../scss/index.scss";

.crear-tweet{
    padding: 15px;


        h2{
            font-size: 20px;
            margin-bottom: 0;
            font-weight: bold;
            border-bottom: 1px solid $border-grey;
            padding: 15px;
        }

        &__form{
            margin: 2%;
            border: 1px solid $border-grey;
            padding: 2%;
        }

        &__loading{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            //margin-top: 5%;
      
            >div{
               margin-bottom: 5%;
           }
      
         }
}

