@import "./scss/index.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $background-grey-dark;
  color: $font-light;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  box-shadow: none !important;
}

input.form-control,
textarea.from-control{
  background-color: $background-dark-light;
  border-radius: 0;
  border:0;
  border-bottom: 1px solid $border-grey;
  color: $font-light !important;
  margin-bottom: 1%;

  &:focus{
    background-color: $background-dark-light;
    box-shadow: none;
    border-bottom: 1px solid $border-primary;
  }
}
